.container {
    width: 815px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border: 1px solid black;
    padding: 0 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

header h2 {
    width: 50%;
}

.nav {
    width: 50%;
    font-size: 19px;
    font-weight: normal;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.signIn {
    margin-right: 5px;
}

.login {
    margin-left: 5px;
}

.artists,
.albums {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.artist,
.album {
    width: 20%;
    border: 1px solid black;
    min-height: 200px;
    text-align: center;
    padding: 20px 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.artistImage,
.albumImage {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.artistName,
.albumName {
    display: inline-block;
    cursor: pointer;
}

.albumYear {
    width: 80px;
    margin: 0 0 0 auto;
    color: grey;
}

.albumImageForTracks {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

.track {
    border: 1px solid black;
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 10px;
    justify-content: space-evenly;
    position: relative;
}

.trackNumber {
    width: 20%;
    text-align: center;
}

.trackInfo {
    width: 60%;
}

.player {
    cursor: pointer;
    text-align: center;
    width: 20%;
    outline: none;
    border: none;
    background: white;
}

.deleteBtn {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    border-right: none;
    border-top: none;
    background: none;
    outline: none;
}

.registration {
    margin-top: 50px;
}

.registration p {
    text-align: right;
    text-decoration: underline;
    color: #0000FF;
    cursor: pointer;
}

.userName,
.password,
.displayName,
.imageLink {
    display: block;
    width: 400px;
    margin: 20px auto;
}

.userImage {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.error {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
}

.trackHistory {
    margin-right: 20px;
}

.history {
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.history p {
    margin: 0 0 10px 0;
}

.addBlock {
    width: 359px;
    margin: 0 0 20px auto;
}

.createItemField,
.inputFileLabel {
    display: block;
    margin: 10px auto;
    width: 400px;
}

.inputFileLabel {
    height: 20px;
    font-size: 15px;
    border: 1px solid darkgray;
    color: darkgray;
}

.chooseImage {
    display: none;
}

.addButton {
    display: block;
    margin: 25px auto 0;
}

.categoriesBloc {
    text-align: center;
}

.facebookBtn,
.regButton {
    display: block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    cursor: pointer;
    margin: 10px auto;
    transition: 0.5s;
}

.facebookBtn {
    background: #b5cfe9;
}

.facebookBtn:hover,
.regButton:hover {
    background: #8ca9e9;
    color: white;
}